@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.link.active {
  background-color: white;
  color: black;
}

@media (max-width: 1024px) {
  .link.active {
    background-color: #1d4ed8;
    color: white;
  }
}
